{% extends 'layout.html' %}

{% block head %}
<style>
    table img {
         width: 30px;
         height: auto;
    }
    table img:hover {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>YouTube Channel Dashboard</h1>
    </div>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <i class="fa fa-info-circle" aria-hidden="true"></i> 現在、<a href="/list/"><span class="badge">{{'{0:,}'.format(count)}}</span> チャンネル</a> 公開中！
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-star" aria-hidden="true"></i> チャンネル登録数 TOP 10 ({{'{0:,}'.format(count)}}チャンネル中)
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>チャンネル</th>
                                <th>チャンネル登録数 <i class="fa fa-sort-desc" aria-hidden="true"></i></th>
                                <th>視聴回数</th>
                                <th>動画本数</th>
                            </tr>
                        </thead>
                        {% for datum in data %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>
                                <a href="/channel/{{datum.0}}"><img src="{{datum.3}}" class="img-circle"></a>&nbsp;&nbsp;
                                <a href="/channel/{{datum.0}}">{{datum.1}}</a></td>
                            <td>{{'{0:,}'.format(datum.6)}} 登録</td>
                            <td>{{'{0:,}'.format(datum.8)}} 回</td>
                            <td>{{'{0:,}'.format(datum.7)}} 本</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="panel-footer">最終更新: {{updated_at}}</div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
